---
---

body {
  background: url('/assets/img/bg-coming-soon-gold.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


.center-screen {
  text-align: center;
  display: table-cell;
  vertical-align: middle;

  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 9em;
    font-weight: 900;
    text-align: center;
    color: #ab9d6b;
  }

}
