---
layout: default

active: Travel
title: Travel Directions
---

<div class="pt-page pt-page-travel display_none">
  <div class="container-fluid bg-main-image">
    <div class="blur-img bg-image bg-travel"></div>
    <div class="page-scroll">
      <div class="bg-main-image-overlay-2">


        <div class="main-section-s2">
          <div class="container">
            {% include page_title.html %}
            <div class="row">
              <div class="col-md-12 ">
                <div class="white-box jnp-section">
                  <h2>Getting to Tours</h2>
                  <p>
                    Our recommendation is to fly into Paris and take the train
                    to Tours. Paris main airports are <strong>"Paris Charles de Gaulle"
                    (CDG)</strong> and <strong>"Paris Orly" (ORY)</strong>.
                    CDG is more convenient because it has a TGV station (fast train)
                    in the airport with direct trains to Tours. If you land in Orly
                    you will have to take public transportation
                    or a cab to the Paris Montparnasse train station in downtown Paris.
                  </p>
                  <h2>Moving around</h2>
                  <p>
                    Train is a great option and can take you anywhere in France.
                    However, it can get pricy if you plan to visit a lot of places.
                    Renting a car is probably a better option in this case.
                    <strong>
                      Please note that our standard rentals are stick shift
                    </strong>, so be sure to request an automatic if you need.
                    If you decide to rent a car it is about a 3 hour drive (as
                    opposed to a little over an hour in train). Lastly, another
                    option is to take the train to Tours and rent a car there.
                  </p>
                  <p>
                    Carpool may also be an option from Paris if we coordinate well
                    with Jeremy's parisian friends. Please contact us if you
                    would like to carpool from Paris.<br>
                    On the wedding day there should also be plenty of carpool
                    options for our international guests.
                  </p>
                  <h2>Lodging</h2>
                  <p>
                    On the wedding night, a room will be provided on the domain
                    for all our international guests!
                  </p>
                  <p>
                    For the other days, it is mostly similar to the US,
                    you can find hotels and motels along with
                    AirBnb's everywhere. We also have a more typical option in France
                    called "Gîte", comparable to a Bed & Breakfast.
                    Finally, as an option we can see if any of Jeremy's friends and
                    family are willing to host, please don't hesitate to ask
                    they will be delighted!
                  </p>
                  <p>
                    Please find below an inventory of links that may be helpful to you.
                    If you need any assistance or advice, feel free to contact us.
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="white-box jnp-section">
                  <h3>
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    Transport Accomodations
                  </h3>
                  <p><strong>Price ranges:</strong></p>
                  <ul>
                    <li>
                      Round Trip plane ticket from West Coast: $450 - $700
                    </li>
                    <li>
                      Round Trip plane ticket from Midwest: $700 - $1100
                    </li>
                    <li>
                      TGV to Tours (one way): $30 - $70
                    </li>
                  </ul>
                  <p><strong>Booking a plane:</strong></p>
                  <ul>
                    <li>
                      <a href="https://www.kayak.com/flights/" target="_blank">Kayak</a>,
                      usually the cheapest fares. We recommend setting a price alert
                      on this site to stay informed when fares drop!
                    </li>
                    <li>
                      <a href="https://www.momondo.com/" target="_blank">Momondo</a>
                    </li>
                    <li>
                      <a href="https://www.vayama.com" target="_blank">Vayama</a>
                    </li>
                  </ul>
                  <p><strong>Booking a train</strong></p>
                  <p>
                    If you flew to CDG, put in <strong>CDG</strong> as your
                    departure. If you flew
                    to ORY, put in <strong>"Paris (PAR)"</strong>
                     as your departure. <br>
                    Put <strong>"Tours"</strong> as
                    your destination.<br>
                    For the results from Paris (not CDG) you will find 2 options
                    to depart from: <strong>"Paris Austerlitz"</strong> and
                    <strong>"Paris Montparnasse"</strong>.
                    Montparnasse only has TGVs that will take you to Tours in
                    one hour. Austerlitz has slower (2-3 hours) but cheaper (11 to 40 euros)
                    trains. In both cases you would have to travel from the Orly
                    airport to the station downtown Paris.
                  </p>
                  <ul>
                    <li>
                      <a href="https://www.raileurope.com/en/index.html" target="_blank">Raileurope</a>
                    </li>
                    <li>
                      <a href="https://www.trainline.eu/" target="_blank">Trainline</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-4">
                <div class="white-box jnp-section">
                  <h3>
                    <i class="fa fa-bed" aria-hidden="true"></i>
                    Lodging
                  </h3>
                  <p><strong>Price ranges:</strong></p>
                  <ul>
                    <li>
                      Hotel in Tours: $60 - $100
                    </li>
                    <li>
                      Motel in Tours: $30 - $40
                    </li>
                  </ul>
                  <p>
                    Remember, a room will be provided on the domain for the night
                    of the wedding so don't book for the night of 9/9/17!
                  </p>
                  <p><strong>Resources:</strong></p>
                  <ul>
                    <li>
                      <a href="http://www.booking.com/" target="_blank">Booking</a>:
                      Hotel search engine leader in Europe
                    </li>
                    <li>
                      <a href="http://www.chambresdhotes.org/english/Google_Maps/?query=tours&radius=20" target="_blank">
                        Chambres d'Hôtes / Gîtes (B&Bs)
                      </a>: nice alternative to hotels, usually breakfast and other meals provided, get
                      to live with locals.

                    </li>
                    <li>
                      <a href="http://www.premiereclasse.com/en" target="_blank">
                      Premiere Classe</a>: Cheap motel option example
                    </li>
                    <li>
                      <a href="http://www.airbnb.com/" target="_blank">
                      AirBnb</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-4">
                <div class="white-box jnp-section">
                  <h3>
                    <i class="fa fa-train" aria-hidden="true"></i>
                    Moving Around
                  </h3>
                  <p>
                    Other than trains and rental cars, carpool is now
                    mainstream in France and you can move around very cheaply.
                    The leader is <a href="https://www.blablacar.co.uk/search?fn=Tours%2C+France&tn=Paris%2C+France&fc=47.394144%7C0.68484&fcc=FR&tc=48.856614%7C2.352222&tcc=FR" target="_blank">
                    Blablacar</a>. Otherwise you can still rent a car or take trains.
                  </p>
                  <p><strong>Resources:</strong></p>
                  <ul>
                    <li>
                      <a href="http://www.liligo.com/car-rental" target="_blank">Liligo</a>:
                      Car rental search engine
                    </li>
                    <li>
                      <a href="http://www.rentalcars.com/" target="_blank">RentalCars</a>:
                      Car rental search engine, lets you filter out manual transmission (unfortunately
                      automatic transmission car rentals are like double the price in France)
                    </li>
                    <li>
                      <a href="https://www.blablacar.co.uk/search?fn=Tours%2C+France&tn=Paris%2C+France&fc=47.394144%7C0.68484&fcc=FR&tc=48.856614%7C2.352222&tcc=FR" target="_blank">Blablacar</a>:
                      Carpooling site
                    </li>
                    <li>
                      <a href="https://www.raileurope.com/en/index.html" target="_blank">Raileurope</a>:
                      train booking engine
                    </li>
                    <li>
                      <a href="https://www.trainline.eu/" target="_blank">Trainline</a>:
                      train booking engine
                    </li>
                  </ul>

                </div>
              </div>
            </div>


          </div>
        </div>

        <!-- <div class="main-section-s2">
          <div class="container">
            {% include page_title.html %}
            <div class="row">
              <div class="col-md-12 white-box">
                <p>
                  Travel bla bla bla
                </p>
              </div>
            </div>
            <div class="row">
            </div>
            <div class="row ceremony-section">
              <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInLeft padding-left-right-zero" data-class="fadeInLeft">
                <div class="white-box ceremony-detail">
                <h5> Bachelor<br>
                party </h5>
                <h4>04 Mar 2016 at 7:30 pm</h4>
                <img class="pin-icon" src="images/pin.png" alt="locationimage">
                <p>121 King Street, Melbourne, Victoria 3000 Australia </p>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInUp padding-left-right-zero" data-class="fadeInUp">
                <div class="white-box ceremony-detail">
                <h5> the wedding<br>
                ceremony </h5>
                <h4>05 Mar 2016 at 3:30 pm</h4>
                <img class="pin-icon" src="images/pin.png" alt="locationimage">
                <p>121 King Street, Melbourne, Victoria 3000 Australia </p>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 responsive-margin text-center wow fadeInRight padding-left-right-zero" data-class="fadeInRight">
                <div class="white-box ceremony-detail">
                <h5> reception<br>
                ceremony </h5>
                <h4>06 Mar 2016 at 6:30 pm</h4>
                <img class="pin-icon" src="images/pin.png" alt="locationimage">
                <p>121 King Street, Melbourne, Victoria 3000 Australia </p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
