<!-- responsive-tab only shown on mobile -->
<div class="resonsive-tab">
  <div class="header">
    <div class="jnp-mobile-menu">
      <div class="jnp-logo">
        <a href="{{ site.github.url }}/" data-menu="index">
          <h2>
            <span class="jnp-logo-pooja">Pooja </span>
            <span class="jnp-logo-and">&</span>
            <span class="jnp-logo-jeremy">Jeremy</span></h2>
        </a>
      </div>
      <div class="hamburger pull-right"> <img src="{{ site.github.url }}/assets/img/layout/menu-alt.png" alt="Navicon"> </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div id="dl-menu" class="section1 navbar navbar-default navbar-fixed-top">
  <div class="vertical-menu">
    <!-- <div class="logo-s2"> <a href="index.html" data-menu="index"> <img src="images/logo.png" alt="logo"> </a> </div> -->
    <div class="jnp-logo">
      <a href="index.html" data-menu="index">
        <h2>
          <span class="jnp-logo-pooja">Pooja </span>
          <span class="jnp-logo-and">&</span>
          <span class="jnp-logo-jeremy">Jérémy</span></h2>
      </a>
    </div>
    <div class="ver-menu">
      {% if layout.lang=='fr' %}
        {% assign menu=site.data.menu_fr %}
      {% else %}
        {% assign menu=site.data.menu %}
      {% endif %}
      <ul class="dl-menu nav navbar-nav menubar-s2 horizontal_iconmenu" style="position: relative;">
        {% for item in menu %}
          <li
              class="hvr-overline-from-center {% if page.active == item.name %}hover_active{% endif %}">
            <a href="{{ site.github.url }}{{ item.link }}" data-menu="{{ item.name }}">
              {% if item.icon %}
              {% assign icon = 'svgs/' | append: item.icon | append: '.html' %}
              {% include {{ icon }} %}
              {% else %}
              <i class="fa fa-{{ item.fa_icon }} fa-2x"></i>
              {% endif %}
              <div class="clearfix"></div>
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
