$colorRed: #e32b42;
$colorBlue: #00afc5;

/****************************************/
/*                MENU                  */
/****************************************/
.jnp-mobile-menu {
  .hamburger {
    margin-right: 20px;
  }
  .jnp-logo {
    margin-left: 20px;
  }
}

.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}

.ver-menu, .ver-menu-s2 {
  float: right;
  width: 69%;

  @media (max-width: 1024px) {
    padding-top: 26px;
    padding-right: 10px;
  }
}

.jnp-logo {
  font-weight: 800;
  color: inherit;
  font-family: 'Great Vibes', cursive;

  width: 210px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;

  @media (max-width: 1024px) {
    padding: 0;
  }

  h2 {
    font-size: 2.2em;
    padding: 0;
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }

  span.jnp-logo-pooja {
    color: $colorRed;
  }

  span.jnp-logo-and {
    color: $colorRed;
  }

  span.jnp-logo-jeremy {
    color: $colorBlue;
  }
}

/****************************************/
/*          MAIN CONTENT                */
/****************************************/
.pt-page {
  visibility: inherit;
}

.pt-page-home {

}

.bg-image {
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-home {
	background: url("/assets/img/home-couple-picture.jpg") no-repeat center center;
}

.bg-itinerary {
  background: url("/assets/img/home-couple-picture.jpg") no-repeat center center;
}


/****************************************/
/*             ITINERARY                */
/****************************************/
.timeline {
  .timeline-heading {
    margin-bottom: 15px;
  }
  .timeline-img {
    margin-bottom: 15px;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    @media (max-width: 1024px) {
      font-size: 1.3em;
    }
  }
  h4 {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    color: $colorBlue;
    font-size: 1.2em;
    @media (max-width: 1024px) {
      font-size: 1.1em;
    }
  }
}
