$colorRed: #e32b42;
$colorBlue: #00afc5;

$colorMenu: $colorRed;

/****************************************/
/*            ENTRY MODAL               */
/****************************************/
#entryGateModal {
  h4 {
    font-family: 'Roboto', sans-serif;
    color: $colorBlue;
  }
  p {
    color: black;
    font-weight: 600;

    &.jnp-mdp {
      text-align: center;
    }
  }
}

.modal-backdrop.in {
  background-color: black;
  opacity: .9;
}
/****************************************/
/*                MENU                  */
/****************************************/
.jnp-mobile-menu {
  .hamburger {
    margin-right: 20px;
  }
  .jnp-logo {
    margin-left: 20px;
  }
}

.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 0 !important;

  svg {
    fill: $colorMenu;
  }
  i.fa {
    color: lighten($colorMenu, 10%);
  }
}

.ver-menu, .ver-menu-s2 {
  float: right;
  width: 69%;

  @media (max-width: 1024px) {
    padding-top: 26px;
    padding-right: 10px;
  }
}

.jnp-logo {
  font-weight: 800;
  color: inherit;
  font-family: 'Great Vibes', cursive;

  width: 210px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;

  @media (max-width: 1024px) {
    padding: 0;
  }

  h2 {
    font-size: 2.2em;
    padding: 0;
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }

  span.jnp-logo-pooja {
    color: $colorRed;
  }

  span.jnp-logo-and {
    color: $colorRed;
  }

  span.jnp-logo-jeremy {
    color: $colorBlue;
  }
}

/****************************************/
/*          MAIN CONTENT                */
/****************************************/
.container {
  p, ul {
    color: #000;
    font-weight: 300;
  }
}

.clock-item p {
  color: #fff;
}

.pt-page {
  visibility: inherit;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: $colorRed;
    @media (max-width: 1024px) {
      font-size: 1.3em;
    }
    em {
      font-style: italic;
      font-size: 80%;
    }
  }
}

.jnp-section {
  padding: 20px;
  margin: 10px;
  h3 {
    text-align: center;
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    font-size: 1.3em;

    .fa {
      display: inline-block;
      width: 100%;
      color: $colorBlue;
      margin-bottom: 10px;
    }
  }

  p {
    text-align: left;
    strong {
      font-weight: 500;
    }
  }

  ul {
    margin-left: 20px;
    font-size: .9em;
    font-family: 'Roboto', sans-serif;
  }

  h2 {
    text-align: center;
    margin: 5px 0;
    color: $colorBlue;
    font-family: roboto;
    font-size: 1.1em;
  }
  p, ul {
    font-size: .9em;
  }
  iframe {
    width: 100%;
    text-align: center;
  }
}

.pt-page-home {

}

.page-title {
  .jnp-icon-infinity {
    font-size: 36px;
    bottom: -19px;
  }
  h2 {
    padding-top: 15px;
  }
}

.bg-image {
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-home {
	background: url("/assets/img/home-couple-picture.jpg") no-repeat center center;
}

.bg-itinerary, .bg-travel, .bg-rsvp, .bg-about-locale {
  background: url("/assets/img/itinerary-couple-picture.jpg") no-repeat center center;
}

.tooltip-inner {
    text-align: left;
}

// portrait medias
@media screen
  and (max-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation: portrait) {


}


/****************************************/
/*             ITINERARY                */
/****************************************/
.timeline {
  .timeline-heading {
    margin-bottom: 15px;
  }
  .timeline-img {
    margin-bottom: 15px;
  }

  h4 {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    color: $colorBlue;
    font-size: 1.2em;
    font-weight: 400;
    @media (max-width: 1024px) {
      font-size: 1.1em;
    }
  }

  iframe {
    width: 100%;
  }
}

/****************************************/
/*             TRAVEL                   */
/****************************************/



/****************************************/
/*             ABOUT LOCALE             */
/****************************************/

.pt-page-about-locale {
  .about-locale-slider {
    display: none;
    margin: 15px 0;
    span {
      font-size: .8em;
      color: #000;
    }
  }
}

/****************************************/
/*             RSVP                   */
/****************************************/

.rsvp-form {
  p {
    font-size: .9em;
    text-align: left;

    &.jnp-rsvp-intro {
      text-align: center;
    }
  }

  .form-group {
    label {
      color: black;
    }
  }
}
