---
layout: default

active: Itinerary
title: Itinerary

items:
  - title: Civil Union Ceremony <em>(Mariage Civil)</em>
    date: Sat 09 Sept 2017
    time: 2:00pm
    location: City Hall of Saint-Cyr-Sur-Loire
    content: Hôtel de Ville <br>
      Parc de la Perraudière <br>
      37540 Saint-Cyr-sur-Loire <br>France <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16487.082438669953!2d0.6596969706965022!3d47.40081277080753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x488c6749b8457e16!2sMairie+de+Saint-Cyr-sur-Loire!5e0!3m2!1sen!2sus!4v1487507041493" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    image:
      src: itinerary/mairie-saint-cyr.jpg
      alt: Saint-Cyr-Sur-Loire City Hall
  - title: Secular Ceremony <em>(Cérémonie Laïque)</em>
    date: Sat 09 Sept 2017
    time: 5:00pm
    location: Domaine de la Fougeraie
    content: Domaine de la Fougeraie <br>
      Route departementale 54<br>
      37370 Saint-Paterne-Racan <br>France <br><br>
      We will depart 30 minutes - an hour after the civil union ceremony
      and head to the Domaine de la Fougeraie.
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d172558.2545240446!2d0.35960149312063056!3d47.485574296865906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x47e2d55448bd1ddb%3A0x488c6749b8457e16!2sMairie+de+Saint-Cyr-sur-Loire%2C+H%C3%B4tel+de+Ville%2C+Parc+de+la+Perraudi%C3%A8re%2C+37540+Saint-Cyr-sur-Loire%2C+France!3m2!1d47.399200799999996!2d0.6673201!4m5!1s0x47e2cf3656efd583%3A0xeaa123d2c3292b96!2sDomaine+de+la+Fougeraie%2C+Saint-Paterne-Racan%2C+France!3m2!1d47.577881999999995!2d0.41881399999999996!5e0!3m2!1sen!2sus!4v1487507230680" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    diaporama:
      - src: itinerary/chateau-fougeraie.jpg
        alt: Domaine de la Fougeraie Castle
      - src: itinerary/chateau-fougeraie-aerien.jpg
        alt: Domaine de la Fougeraie Aerial View of the Castle
      - src: itinerary/chevreuil.jpg
        alt: Deer on the domain
      - src: itinerary/chateau-fougeraie-nuit.jpg
        alt: Domaine de la Fougeraie Castle by night
  - title: Cocktail Hour <em>(Vin d'Honneur)</em>
    date: Sat 09 Sept 2017
    time: 6:00pm
    location: Domaine de la Fougeraie
    diaporama:
      - src: itinerary/cocktail-1.jpg
        alt: Cocktail
      - src: itinerary/cocktail-2.jpg
        alt: Cocktail 2
      - src: itinerary/cocktail-3.jpg
        alt: Cocktail 3
      - src: itinerary/cocktail-4.jpg
        alt: Cocktail 4
    content: Cocktails and appetizers will be served shortly after the
      ceremony.

  - title: Reception <em>(Repas de Noces)</em>
    date: Sat 09 Sept 2017
    time: 7:30pm
    location: Domaine de la Fougeraie
    content: International guests flying in from outside of France will have
      a room for the night of the wedding. <br>
      Please make note the wedding reception usually last until about 5-6am!
  - title: Day After
    date: Sun 10 Sept 2017
    time: 10:00am
    location: Domaine de la Fougeraie
    content: A French style barbecue will be served on the grounds of the
      domain.
---
<div class="pt-page pt-page-home display_none">
<div class="container-fluid bg-main-image">
  <div class="blur-img bg-image bg-itinerary"></div>
  <div class="page-scroll">
    <div class="bg-main-image-overlay-2">
      <div class="main-section-s2">
        <div class="col-md-12">
          {% include page_title.html %}
          <div class="clearfix"></div>
          <div class="container-fluid">
            <ul class="timeline">
              {% for item in page.items %}
                {% assign loopParity = forloop.index | modulo: 2 %}
                {% capture fadeInSide %}{% if loopParity == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}{% endcapture %}
                <li {% if loopParity == 0 %}class="timeline-inverted"{% endif %}>
                  <div class="timeline-badge">
                      <a><i class="glyphicon glyphicon-star"></i></a>
                  </div>
                  <div
                      class="timeline-panel"
                      data-class="{{ fadeInSide }}" >
                    <div class="timeline-heading">
                      <h3 class="timeline-title">{{ item.title }}</h3>
                      <span class="label label-default">{{ item.date }} - {{ item.time }}</span>
                    </div>
                    <div class="timeline-body">
                      {% if item.image %}
                      <div class="timeline-img">
                        <img
                          src="{{ site.github.url }}/assets/img/{{ item.image.src }}"
                          alt="{{ item.image.alt }}"
                        />
                      </div>
                      {% endif %}
                      {% if item.diaporama %}
                        <div class="ceremony-slider">
                        {% for diapo in item.diaporama %}
                          <div>
                            <img class="img-responsive"
                              src="{{ site.github.url }}/assets/img/{{ diapo.src }}"
                              alt="{{ diapo.alt }}" />
                          </div>
                        {% endfor %}
                        </div>
                      {% endif %}
                      <h4>{{ item.location }}</h4>
                      <p>{{ item.content }}</p>
                    </div>
                  </div>
                  </li>
                {% endfor %}
                <li class="clearfix no-float"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
